{:paths ["src"]
 :deps {io.github.kotoba-lang/langgraph
        {:git/sha "a332a770a0d2b5193f81b54483bb954fb29ef8d7"}}
 :aliases
 {:dev {:override-deps
        {io.github.kotoba-lang/langgraph
         {:local/root "../../kotoba-lang/langgraph"}
         io.github.kotoba-lang/langchain
         {:local/root "../../kotoba-lang/langchain"}}}
  :run {:main-opts ["-m" "timeuseops.sim"]}
  :test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}
  :lint {:replace-deps {clj-kondo/clj-kondo {:mvn/version "2024.11.14"}}
         :main-opts    ["-m" "clj-kondo.main"
                        "--lint" "src" "test"
                        "--fail-level" "error"]}}}
