{:kotoba.app/id "cloud.itonami.isic-9820", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreie7b6caq7kxrkbkbbtnb2lhtyqnxye2hhebfhmos6kctwmvgfc4ue", :kotoba.app/embed-url "ipfs://bafkreie7b6caq7kxrkbkbbtnb2lhtyqnxye2hhebfhmos6kctwmvgfc4ue", :published {:archive "https://kotobase.net/ipfs/bafkreie7b6caq7kxrkbkbbtnb2lhtyqnxye2hhebfhmos6kctwmvgfc4ue", :size 72478, :put-status 201, :get-status 200, :at "2026-08-15T13:40:38.002Z"}}
